@import 'basic_set';

main {

    .swiper {
        background-color: unset;
        width: 400px;
        height: 450px;
        transform: translate(-5%, 8%);

        .swiper-wrapper {
            .swiper-slide {
                background-position: center;
                background-size: cover;
                @include flex(center, center);


                img {
                    display: block;
                    width: 400px;
                }


                p {
                    font-family: cursive;
                    writing-mode: vertical-lr;
                    width: 80px;
                    height: 250px;
                    @include flex(flex-start, center);
                    @include font(18px, black, 100, unset, 1px);

                    a {
                        width: 100%;
                    }

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    .swiper-pagination {
        display: none;
    }
}

@media (max-width: 1024px) {
    main {

        .swiper {
            transform: translate(10%, 30%);
            width: 200px;
            height: 250px;

            .swiper-wrapper {
                .swiper-slide {
                    img {
                        width: 300px;
                    }
                }
            }

        }

        .swiper-pagination {
            display: block;
        }
    }

    .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
        display: none;
    }

}